.header {
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 0px 80px;
    width: 1260px;
    height: 130px;
}
.links-bar {
    background-color: #F9F9F9;
    width: 1260px;
    height: 45px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 45px;
    gap: 39px;
}
.category {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 64px 45px;
    width: 1260px;
    height: 280px;
}
.category h1{
    font-size: 27px;
}   
.category ul{
    padding: 0%;
    margin: 0%;
    border: 0%;
    list-style: none;
    font-style: none;
    font-size: 19px ;
    }
.more { 
    width: 234px;
    height: 48px;
    background-color: #F5F5F5;
    border-radius: 10px;
    border-style: none;
    transition-duration: 0.5s;
}
.category .more{
    position: absolute;
    bottom: 59px;
}
.more:hover {
background-color: lightslategray;
}
.banner1 {
    position: relative;
    background-color:#F4F8EC;
    border-radius: 12px;
    padding: 12px;
    width: 420px;
    height: 280px;
    padding-left: 33px;
}
.banner1 h1{
    font-size: 12px;
}
.banner1 h2{
    font-size: 22px;
}
.banner2 {
    position: relative;
    background-color:#F4F8EC;
    border-radius: 12px;
    padding: 12px;
    width: 420px;
    height: 280px;
    padding-left: 33px;
}
.banner2 h1{
    font-size: 12px;
}
.banner2 h2{
    font-size: 22px;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
.banner1 .banner-button {
    position: absolute;
    bottom: 25px;
}
.banner2 .banner-button {
    position: absolute; 
    bottom: 25px;
}
.banner-button{
    background-color: lightgreen;
    border-radius: 12px;
    width: 180px;
    height: 44px;
    font-size: 15px;
    border: 1px solid green;
    transition-duration: 0.5s;
   }
.banner-button:hover {
       background-color: green;
       color: lightgreen;
   }
   .best-seller{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 64px 45px;
    width: 1260px;
    height: 345px;
}
.best-seller h1{
    font-size: 27px;
}   
.best-seller ul{
    padding: 0%;
    margin: 0%;
    border: 0%;
    list-style: none;
    font-style: none;
    font-size: 19px ;
    }
.more-products { 
    width: 234px;
    height: 48px;
    background-color: #F5F5F5;
    border-radius: 10px;
    border-style: none;
    transition-duration: 0.5s;
}
.best-seller .more-products{
    position: absolute;
    bottom: 59px;
}
.more-products:hover {
background-color: lightslategray;
}
.product {
    border: 1px solid black;
    height: 323px;
    max-width: 270px;
    border-radius: 12px;
    display:grid;
    grid-template-columns: 135px 135px;
    grid-template-rows: 212px 30px 26px 20px 23px;
}
img {
    border-radius: 12px;
}
.picture {
    grid-column-start: 1;
    grid-column-end: 3;
    display:flex;
    justify-content: center;
    padding: 16px;
    border-radius: 12px;
}
.product-name {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 15px;
    font-weight: bold;
    padding-left: 16px;
}
.product-description {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 12px;
    padding-left: 16px;
}
.price {
    grid-column-start: 1;
    font-size: 18px;
    padding-left: 16px;
    font-weight: bolder;
}
.old-price {
    grid-column-start: 1;
    font-size: 12px;
    padding-left: 16px;
}
.buy-now {
        grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end:6;
    display:flex;
    justify-content: right;
    padding-right: 16px;
}
.buybutton {
    font-size: 15px;
    color: white;
    border-radius: 12px;
    background-color:#6A983C ;
    border: 1px solid green;
    width: 90px;
    height: 36px;
    transition-duration: 0.5s;
}
.buybutton:hover {
       background-color: darkgreen;
       color: white;
    }
    .carousel {
        width: 1260px;
        height: 198px;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
      }
      
      .carousel > ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      .slide {
        position: absolute;
        width: 1260px;
        height: 198px;
        opacity: 0%;
        transition: 200ms opacity ease-in-out;
        transition-delay: 200ms;
        text-align: center;
      }
      .slide[data-active] {
        opacity: 1;
        z-index: 1;
        transition-delay: 0ms;
      }
      .carousel-button {
        position: absolute;
        z-index: 2;
        background: none;
        border: none;
        font-size: 4rem;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, .5);
        cursor: pointer;
        border-radius: .25rem;
        padding: 0 .5rem;
        background-color: rgba(0, 0, 0, .1);
      }
      
      .carousel-button:hover,
      .carousel-button:focus {
        color: white;
        background-color: rgba(0, 0, 0, .2);
      }
      
      .carousel-button:focus {
        outline: 1px solid black;
      }
      
      .carousel-button.prev {
        left: 1rem;
      }
      
      .carousel-button.next {
        right: 1rem;
      }