body{
    display:flex;
    flex-direction: column;
    align-items: center;}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1260px;
    height: 130px;
}
.web-name{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    font-size: 25px;
    font-family: cursive;
    display: flex;
    align-items: center;
}
.cart-icon{
    grid-column-start: 2;
    grid-row-end: 2;
    display: flex;
    align-items: center;
}
.nav-bar{
    display:flex;
    gap: 40px;
    width: 100%;
    max-width: 1260px;
    padding: 15px 45px ;
    font-size: 15px;
    background-color: #F9F9F9;
}
.link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 768px) {
.category {
    display: flex;
    justify-content: space-between;
    padding: 64px 45px;
    max-width: 1260px;
    height: 280px;
}}
@media only screen and (max-width: 768px) {
    .category {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 64px 45px;
        gap: 32px;
        height: auto;
    }}
.category-sidebar{
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
}
.category-button{
    grid-row-start: 3;
    width: 234px;
    height: 48px;
    background-color: #F5F5F5;
    border-radius: 10px;
    border-style: none;
    transition-duration: 0.5s;
}
.category-button:hover {
    background-color: lightslategray;
    }
.category h1{
    font-size: 27px;
}   
.category ul{
    padding: 0%;
    margin: 0%;
    border: 0%;
    list-style: none;
    font-style: none;
    font-size: 19px ;
    }
.banner-more { 
    width: 234px;
    height: 48px;
    background-color: #F5F5F5;
    border-radius: 10px;
    border-style: none;
    transition-duration: 0.5s;
}
.banner1 {
    background-color:#F4F8EC;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    max-width: 420px;
    max-height: 280px;
    padding-left: 33px;
    display: grid;
    grid-template-rows: 1fr 8fr 2fr;
}
.banner1 h1{
    font-size: 12px;
}
.banner1 h2{
    font-size: 22px;
}
.banner2 {
    background-color:#F4F8EC;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    max-width: 420px;
    height: 280px;
    padding-left: 33px;
    display: grid;
    grid-template-rows: 25px 195px 60px;
}
.banner2 h1{
    font-size: 12px;
}
.banner2 h2{
    font-size: 22px;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

.banner-button{
    background-color: lightgreen;
    border-radius: 12px;
    width: 180px;
    height: 44px;
    font-size: 15px;
    border: 1px solid green;
    transition-duration: 0.5s;
   }
.banner-button:hover {
       background-color: green;
       color: lightgreen;
   }
@media only screen and (min-width: 768px){   
.best-seller{
    display: flex;
    justify-content: space-between;
    padding: 64px 45px;
    max-width: 1260px;
    height: 345px;
}}
@media only screen and (max-width: 768px){   
    .best-seller{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        padding: 64px 45px;
        max-width: 1260px;
        gap: 40px;
        height: auto;
    }}
.best-seller-sidebar {
    display:grid;
    grid-template-rows: 1fr 4fr 2fr;
}
.best-seller h1{
    font-size: 27px;
}   
.best-seller ul{
    padding: 0%;
    margin: 0%;
    border: 0%;
    list-style: none;
    font-style: none;
    font-size: 19px ;
    }
.more-products { 
    grid-row-start: 3;
    width: 100%;
    max-width: 234px;
    height: 48px;
    background-color: #F5F5F5;
    border-radius: 10px;
    border-style: none;
    transition-duration: 0.5s;
}
.more-products:hover {
background-color: lightslategray;
}
.product {
    border: 1px solid #D1D1D1;
    height: 323px;
    max-width: 270px;
    border-radius: 12px;
    display:grid;
    grid-template-columns: 135px 135px;
    grid-template-rows: 212px 30px 26px 20px 23px;
}
img {
    border-radius: 12px;
}
.picture {
    grid-column-start: 1;
    grid-column-end: 3;
    display:flex;
    justify-content: center;
    padding: 16px;
    border-radius: 12px;
}
.product-name {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 15px;
    font-weight: bold;
    padding-left: 16px;
}
.product-description {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 12px;
    padding-left: 16px;
}
.price {
    grid-column-start: 1;
    font-size: 18px;
    padding-left: 16px;
    font-weight: bolder;
}
.old-price {
    grid-column-start: 1;
    font-size: 12px;
    padding-left: 16px;
}
.buy-now {
        grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end:6;
    display:flex;
    justify-content: right;
    padding-right: 16px;
}
.buybutton {
    font-size: 15px;
    color: white;
    border-radius: 12px;
    background-color:#6A983C ;
    border: 1px solid green;
    width: 90px;
    height: 36px;
}
.buybutton:hover {
       background-color: green;
       color: white; 
    }
    
.reviews {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 134px 291px;
    padding-left: 45px;
}
.title {
    display: flex;
    align-items: center;
    padding-left: 64px;
    font-size: 27px;
    font-weight: 600;
}
.more-review-button{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 64px;
}
.carousel{
    grid-column-start: 1;
    grid-column-end: 3;
}
.container {
        display: flex;
        gap: 32px;
        max-width:1250px;
        overflow: hidden;
    }
.slide {
        height: 198px;
        width: 369px;
        border-radius: 12px;
        background: white;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-around;
        border: 1px solid #F1F1F1;
        flex-shrink: 0;
    }
.quote {
    font-size: 15px;
    font-weight: 500;
}
.reviewers-name{
    font-size: 12px;
    font-weight: 600;
    color: #A9A9A9;
}
.slide.active {
        background: rgb(219, 252, 209);
    }
.controls {
    position:relative;
    background: none;
    border: none;
    font-size:48px;
    top: calc(-50% + 24px);
    display: flex;
    justify-content: space-between;
    }
.prev{
    height: 48px;
    border-radius: 0px 12px 12px 0px;
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: 900;
}
.next{
    height: 48px;
    border-radius: 12px 0px 0px 12px;
    background-color: black;
    color: white;
    font-size: 13px;
    font-weight: 900;

}
@media only screen and (min-width:768px){
.products-section {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    max-height: 530px;
    max-width: 1260px;
}
}
@media only screen and (max-width:768px){
    .products-section {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 3fr;
        max-height: auto;
        max-width: 1260px;
    }}
.products-header {
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 27px;
    padding-left: 64px;
    font-weight: 600;
    display:flex;
    width: 100%;
    max-width: 1260px;
    justify-content: space-between;
}
.more-products-button{
    grid-column-start: 4;
    padding-right: 64px;  
    display:flex;
    justify-content: end;
    align-items: center;
}
.more-button{
    background-color: white;
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: #6A983C;
}
@media only screen and (min-width: 768px){   
    .product-line{
        max-width: 1260px;
        grid-column-start: 1;
        grid-column-end: 5;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 32px;
        padding-left: 64px;
        padding-right: 64px;
    }}
    @media only screen and (max-width: 768px){   
        .product-line{
            max-width: 1260px;
            grid-column-start: 1;
            grid-column-end: 5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;
            height: auto;
        }}
        @media only screen and (min-width: 768px){ 
            .footer{
                display:grid;
                padding-top: 20px;
                grid-template-columns: 1fr 1fr 1fr 1fr ;
                grid-template-rows: 160px 30px 40px;
                width: 100%;
                max-width: 1260px;
            }}
            @media only screen and (max-width: 768px){ 
            .footer{
                display:flex;
                padding-top: 20px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 1260px;
            }}
            .footer-title{
                font-size: 18px;
                font-weight: 600;
            }
            .footer-tags{ 
                font-size: 18px;
                font-weight: 600;
                grid-column-start: 1;
                grid-column-end: 3;
            }
            .button-tags {
                grid-column-start: 1;
                grid-column-end: 5;
            }
            .button-tags button{
                  background-color: #f5f5f5;
                  border-style: none;
                  height: 25px;
                  border-radius: 12px;
                  margin-right: 10px;
                  font-family: cursive;
                  font-weight: bold;
                  font-size: 12px;
                }
            ul{
                list-style-type: none;
                margin-top: 15px;
                padding: 0;
                line-height: 19px;
                font-weight: 400;
                font-size: 14px;
            }
            a{  
                text-decoration: none;
                color: #6A983C;
            }